<div class="navbar fixed-bottom navbar-expand-sm navbar-light navbar-lewagon">

  <div class="container border-top border-primary">
    <%= link_to root_path, class: "nav-link" do %>
      <i class="fas fa-2x fa-search-location"></i>
    <% end %>

    <%= link_to bikes_path, class: "nav-link" do %>
      <i class="fas fa-2x fa-bicycle"></i>
    <% end %>

    <%= link_to rentals_path, class: "nav-link" do %>
      <i class="fas fa-2x fa-shopping-cart"></i>
    <% end %>

    <% if current_user %>
      <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
        <i class="fas fa-2x fa-sign-out-alt"></i>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class: "nav-link" do %>
        <i class="fas fa-2x fa-user"></i>
      <% end %>
    <% end %>

  </div>

</div>
