<div class="mycard">
  <%= cl_image_tag rental.bike.photo.key, height: 120, width: 120, crop: :fill %>  
  <div class="card-content">
    <div class="card-content-left">
      <h2><%= rental.bike.name.titleize %></h2>
      <p><%= rental.start_date.strftime("%B") %>, <%= rental.start_date.strftime("%d") %></p>
      <p><%= rental.start_date.strftime("%I:%M %p") %></p>
    </div>

    <div class="card-content-right">
      <h2>Toto</h2>
      <p><%= rental.end_date.strftime("%B") %>, <%= rental.end_date.strftime("%d") %></p>
      <p><%= rental.end_date.strftime("%I:%M %p") %></p>
    </div>
  </div>
</div>
