<div class="border border-info m-2 w-80 bg-secondary">
  <div class="row justiy-content-between">
    <div class="col">
      <%= cl_image_tag rental.bike.photo.key, height: 120, width: 120, crop: :fill %>
    </div>
    <div class="col d-flex flex-column justify-content-between">
      <h5 class="pt-2"><%= rental.bike.name.titleize %></h5>
      <div>
       <p class="small-text">
         <%= rental.start_date.strftime("%e %b %Y") %>
         <%= rental.start_date.strftime("%H:%M") %>
       </p>
     </div>
    </div>
    <div class="col d-flex flex-column justify-content-between">
     <h6 class="pt-2">Active now</h6>
     <div>
       <p class="small-text">
         <%= rental.end_date.strftime("%e %b %Y") %>
         <%= rental.end_date.strftime("%H:%M") %>
       </p>
     </div>
    </div>
  </div>
</div>
