<div class="border border-info m-2 w-80 bg-secondary">
  <div class="row">
    <div class="col">
      <%= cl_image_tag bike.photo.key, height: 120, width: 120, crop: :fill %>
    </div>
    <div class="col d-flex flex-column justify-content-between flex-grow">
      <h5 class="pt-2"><%= bike.name %></h5>
      <p><%= bike.description %></p>
    </div>
    <div class="col d-flex flex-column justify-content-between py-2">
      <h6><%= bike.price_per_hour %>€/h</h6>
      <div class="custom-control custom-switch">
        <%= link_to bike_path(bike), method: :patch, remote: true do %>
          <input
          data-bike-id="<%= bike.id %>"
          checked="<%= bike.available.to_s %>"
          type="checkbox"
          class="custom-control-input">
          <label class="custom-control-label" for="customSwitch1">Available</label>
        <% end %>
      </div>
    </div>
  </div>
</div>
